<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="File Modification Tracker" Language="1033" Version="1.0.0.0" Manufacturer="NATHANMBICHO" UpgradeCode="a882f3ec-dd3f-4c77-9721-a95a1d027a2f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of FileModificationTracker is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="FileModificationTracker" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="FileModificationTracker" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="*">
        <File Id="FileModificationTrackerEXE" Name="FileModificationTracker.exe" Source="bin/windows_amd64" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>